<Particles [id]="id" [options]="particlesOptions" (particlesLoaded)="particlesLoaded($event)"> 
</Particles>
<div class="loginBody">
  <div class="card card-profile loginPanel fadeInDown">
    <div class="card-body ">
      <img class="logo-page-login mb-2" src="./assets/img/logo.png" />
      <h4 class="card-title font-weight-bold  text-maestro mb-1">
        <b> Req Manager</b>
      </h4>
      <hr />
      <form (submit)="makeLogin()" action="#" id="loginForm">
        <div class="">
          <mat-form-field appearance="outline">
            <mat-label>Login</mat-label>
            <input
              name="username"
              matInput
              placeholder="Login"
              type="text"
              [(ngModel)]="auth.login"
              aria-label="Informe o Login"
              tabindex="1"
            />
          </mat-form-field>
        </div>
        <div class="">
          <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input
              matInput
              name="password"
              placeholder="Password"
              type="password"
              [(ngModel)]="auth.password"
              aria-label="Informe a senha"
              tabindex="2"
            />
          </mat-form-field>
        </div>
        <div class="mt-1">
          <button
            mat-raised-button
            type="submit"
            id="sendLogin"
            title="Click to signin!"
            color="orange"
            tabindex="3"
            aria-label="Efetuar login"
          >
            Login
          </button>
        </div>
      </form>
    </div>
  </div>
</div>