<div class="loginBody fadeInDown ">
  <div class="container-fluid">
    <table class="tableLogin  ">
      <tr>
        <td>
          <div>
            <div class="card card-profile loginPanel  ">
              <div class="card-body ">
                <img class="logo-page-login mb-2" src="./assets/img/maux.png" />

                <h3 class="card-title font-weight-bold  text-maestro mb-1">
                  <b> Welcome to Maestro UX 4</b>
                </h3>
                <h5 class="text-account  mb-1">
                  Please login into your account
                </h5>
                <form (submit)="makeLogin()" action="#" id="loginForm">
                  <div class="">
                    <mat-form-field>
                      <input
                        name="username"
                        matInput
                        placeholder="E-mail"
                        type="text"
                        [(ngModel)]="auth.username"
                      />
                    </mat-form-field>
                  </div>
                  <div class="">
                    <mat-form-field>
                      <input
                        matInput
                        name="password"
                        placeholder="Password"
                        type="password"
                        [(ngModel)]="auth.password"
                      />
                    </mat-form-field>
                  </div>
                  <div class="mt-1">
                    <button
                      mat-raised-button
                      type="submit"
                      class="btn btn-sm col-md-12"
                      id="sendLogin"
                      title="Click to signin!"
                    >
                      Login
                    </button>
                  </div>
                  <h5 class="mt-3 mb-1 text-other text-left">
                    Or log in with
                  </h5>
                  <div class="table-responsive">
                    <table class="table-other">
                      <tr>
                        <th scope="col" class="col-md-1 ">
                          <button type="submit" class="btn btn-sm btn-google">
                            <i class="fa fa-google mr-2"></i>
                            Google
                          </button>
                        </th>
                        <th scope="col" class="col-md-1 ">
                          <button type="submit" class="btn btn-facebook btn-sm">
                            <i class="fa fa-facebook fa-fw"></i> Facebook
                          </button>
                        </th>
                      </tr>
                    </table>
                  </div>
                  <div class="mt-4">
                    You don't have an account?
                    <button
                      mat-raised-button
                      class="btn btn-sm "
                      id="createAccount"
                      title="Click to create an account!"
                    >
                      Create now
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </td>
      </tr>
    </table>
  </div>
</div>
