<div class="card">
    <div class="card-header card-header-danger">
      <h4 class="card-title">Profiles</h4>
      <!--<p class="card-category">Complete your profile</p>-->
  </div>
  <div class="card-body">
     <div class="col-lg-12 space-down">
      <app-table [baseController]="controller" [(data)]="data" [(displayedColumns)]="displayedColumns"></app-table>
     </div>
  </div>
</div>