<mat-form-field>
  <mat-label>{{Label}}</mat-label>
  <select [formControl]="FormControl" [(ngModel)]="NgModel" matNativeControl required="{{NgRequired}}">
     
    <option *ngFor="let Obj of ListObj" [value]="Obj.Value" selected>
      {{Obj.Description}}
    </option>
  </select>
</mat-form-field>