@import '~@angular/material/theming';
@import '_variables.scss'; 

@include mat-core();

$nglp-primary: mat-palette($mat-grey, 50, 700, 100);

$nglp-accent:  mat-palette($mat-amber, 500);//$mat-cor, tonalidade

$nglp-warn:    mat-palette($mat-red, 500);

$nglp-theme: mat-light-theme($nglp-primary, $nglp-accent, $nglp-warn);

@include angular-material-theme($nglp-theme);
