

<form class="InputText-form">
  <mat-form-field>
    <mat-label>{{Label}}</mat-label>
    <input matInput [formControl]="FormControl" [(ngModel)]="NgModel" placeholder="{{placeholder}}" name="{{Name}}" >
    <mat-error>
      Digite o <strong>{{placeholder}}</strong>
    </mat-error>
  </mat-form-field>
</form>

<!-- Exemplo da declaração do componente -->
<!-- <app-input-text InputName="InputSobrenome" [InputData]="searchUserInformation.login" (OutputData)="this.searchUserInformation.login = $event " InputPlaceholder="Login" InputLabel="Login" ></app-input-text> -->