		<div class="pricing-section pricing-heading" fxLayout="column" fxLayoutAlign="center center">
			<div>
				<h2 [ngStyle.lt-md]="{'margin-bottom': '15px'}">Pricing</h2>
				<br>
			</div>
			<div>
				<h3 [ngStyle.xs]="{'font-size': '18px'}" [ngStyle.sm]="{'font-size': '22px'}">Lorem ipsum dolor sit amet
					conse ctetur adipi sicing elit. Doloribus numquam quis.</h3>
			</div>
			<br>
		</div>

		<mat-tab-group matTabNavBar color="accent">

			<mat-tab label="Project Title">

				<table mat-table [dataSource]="specifications" class="mat-elevation-z8">
					<!-- Item Column -->
					<ng-container matColumnDef="item">
						<th mat-header-cell *matHeaderCellDef> Item </th>
						<td mat-cell *matCellDef="let specification"> {{specification.item}} </td>
						<td mat-footer-cell *matFooterCellDef> Total </td>
					</ng-container>

					<!-- Cost Column -->
					<ng-container matColumnDef="cost">
						<th mat-header-cell *matHeaderCellDef> Cost </th>
						<td mat-cell *matCellDef="let specification"> {{specification.cost | currency}} </td>
						<td mat-footer-cell *matFooterCellDef> {{getTotalCost() | currency}} </td>
					</ng-container>

					<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
					<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
					<tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>

				</table>

			</mat-tab>

			<mat-tab label="Project Title">

				<table mat-table [dataSource]="specifications" class="mat-elevation-z8">
					<!-- Item Column -->
					<ng-container matColumnDef="item">
						<th mat-header-cell *matHeaderCellDef> Item </th>
						<td mat-cell *matCellDef="let specification"> {{specification.item}} </td>
						<td mat-footer-cell *matFooterCellDef> Total </td>
					</ng-container>

					<!-- Cost Column -->
					<ng-container matColumnDef="cost">
						<th mat-header-cell *matHeaderCellDef> Cost </th>
						<td mat-cell *matCellDef="let specification"> {{specification.cost | currency}} </td>
						<td mat-footer-cell *matFooterCellDef> {{getTotalCost() | currency}} </td>
					</ng-container>

					<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
					<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
					<tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>

				</table>

			</mat-tab>

			<mat-tab label="Project Title">

				<table mat-table [dataSource]="specifications" class="mat-elevation-z8">
					<!-- Item Column -->
					<ng-container matColumnDef="item">
						<th mat-header-cell *matHeaderCellDef> Item </th>
						<td mat-cell *matCellDef="let specification"> {{specification.item}} </td>
						<td mat-footer-cell *matFooterCellDef> Total </td>
					</ng-container>

					<!-- Cost Column -->
					<ng-container matColumnDef="cost">
						<th mat-header-cell *matHeaderCellDef> Cost </th>
						<td mat-cell *matCellDef="let specification"> {{specification.cost | currency}} </td>
						<td mat-footer-cell *matFooterCellDef> {{getTotalCost() | currency}} </td>
					</ng-container>

					<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
					<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
					<tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>

				</table>

			</mat-tab>

			<mat-tab label="Project Title">

				<table mat-table [dataSource]="specifications" class="mat-elevation-z8">
					<!-- Item Column -->
					<ng-container matColumnDef="item">
						<th mat-header-cell *matHeaderCellDef> Item </th>
						<td mat-cell *matCellDef="let specification"> {{specification.item}} </td>
						<td mat-footer-cell *matFooterCellDef> Total </td>
					</ng-container>

					<!-- Cost Column -->
					<ng-container matColumnDef="cost">
						<th mat-header-cell *matHeaderCellDef> Cost </th>
						<td mat-cell *matCellDef="let specification"> {{specification.cost | currency}} </td>
						<td mat-footer-cell *matFooterCellDef> {{getTotalCost() | currency}} </td>
					</ng-container>

					<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
					<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
					<tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>

				</table>

			</mat-tab>

			<mat-tab label="Project Title">

				<table mat-table [dataSource]="specifications" class="mat-elevation-z8">
					<!-- Item Column -->
					<ng-container matColumnDef="item">
						<th mat-header-cell *matHeaderCellDef> Item </th>
						<td mat-cell *matCellDef="let specification"> {{specification.item}} </td>
						<td mat-footer-cell *matFooterCellDef> Total </td>
					</ng-container>

					<!-- Cost Column -->
					<ng-container matColumnDef="cost">
						<th mat-header-cell *matHeaderCellDef> Cost </th>
						<td mat-cell *matCellDef="let specification"> {{specification.cost | currency}} </td>
						<td mat-footer-cell *matFooterCellDef> {{getTotalCost() | currency}} </td>
					</ng-container>

					<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
					<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
					<tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>

				</table>

			</mat-tab>

			<mat-tab label="Project Title">

				<table mat-table [dataSource]="specifications" class="mat-elevation-z8">
					<!-- Item Column -->
					<ng-container matColumnDef="item">
						<th mat-header-cell *matHeaderCellDef> Item </th>
						<td mat-cell *matCellDef="let specification"> {{specification.item}} </td>
						<td mat-footer-cell *matFooterCellDef> Total </td>
					</ng-container>

					<!-- Cost Column -->
					<ng-container matColumnDef="cost">
						<th mat-header-cell *matHeaderCellDef> Cost </th>
						<td mat-cell *matCellDef="let specification"> {{specification.cost | currency}} </td>
						<td mat-footer-cell *matFooterCellDef> {{getTotalCost() | currency}} </td>
					</ng-container>

					<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
					<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
					<tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>

				</table>
			</mat-tab>
		</mat-tab-group>
		<br /><br /><br /><br /><br /><br /><br /><br />