table {
  width: 100%;
}

tr.mat-footer-row {
  font-weight: bold;
}

td.mat-cell, td.mat-footer-cell, th.mat-header-cell {
  text-align: center;
}

td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type, th.mat-header-cell:first-of-type {
  padding-left: 0;
}

.pricing-heading{
  padding-bottom: 30px;
}

.pricing-heading h2{
  font-size: 32px;
}

.pricing-heading h3{
  font-size: 22px;
}

.pricing-section{
  text-align: center;
}