<div class="about-section about-heading" fxLayout="column" fxLayoutAlign="center center">
	<div>
		<h2 [ngStyle.lt-md]="{'margin-bottom': '15px'}">About</h2>
		<br>
	</div>
	<div>
		<h3 [ngStyle.xs]="{'font-size': '18px'}" [ngStyle.sm]="{'font-size': '22px'}">Lorem ipsum dolor sit amet
			conse ctetur adipi sicing elit. Doloribus numquam quis.<br> Praesent finibus eget lacus non posuere. Ut in neque velit. Pellentesque auctor ipsum a fermentum suscipit.<br> Quisque facilisis urna velit, a tristique turpis sodales vitae.</h3>
	</div>
	<br>
</div>

<div fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="nowrap" fxLayoutGap="30px">
	<div>
		<div fxLayout="column" fxLayoutAlign="center center">
			<div>
				<i [ngStyle.lt-md]="{'font-size': '48px'}" class="material-icons">build</i>
			</div>
			<span fxFlex="30px"></span>
			<h2 class="about-text">This is the expansion title</h2>
			<span fxFlex="10px"></span>
			<p class="about-text">Lorem ipsum dolor sit amet conse ctetur adipi sicing elit. Doloribus numquam
				quis.</p>
		</div>
	</div>

	<div>
		<div fxLayout="column" fxLayoutAlign="center center">
			<div>
				<i [ngStyle.lt-md]="{'font-size': '48px'}" class="material-icons">alarm</i>
			</div>
			<span fxFlex="30px"></span>
			<h2 class="about-text">This is the expansion title</h2>
			<span fxFlex="10px"></span>
			<p class="about-text">Lorem ipsum dolor sit amet conse ctetur adipi sicing elit. Doloribus numquam
				quis.</p>
		</div>
	</div>

	<div>
		<div fxLayout="column" fxLayoutAlign="center center">
			<div>
				<i [ngStyle.lt-md]="{'font-size': '48px'}" class="material-icons">settings</i>
			</div>
			<span fxFlex="30px"></span>
			<h2 class="about-text">This is the expansion title</h2>
			<span fxFlex="10px"></span>

			<p class="about-text">Lorem ipsum dolor sit amet conse ctetur adipi sicing elit. Doloribus numquam
				quis.</p>
		</div>
	</div>
</div>
<!--
	<div fxFlex="25">
		<div fxLayout="column" fxLayoutAlign="center center" [ngStyle.xs]="{'padding': '0 60px'}">
			<div>
				<i [ngStyle.lt-md]="{'font-size': '48px'}" class="material-icons">stars</i>
			</div>
			<span fxFlex="30px"></span>
			<h2 class="about-text">This is the expansion title</h2>
			<span fxFlex="10px"></span>

			<p class="about-text">Lorem ipsum dolor sit amet conse ctetur adipi sicing elit. Doloribus numquam
				quis.</p>
		</div>
	</div>
-->
