@import 'src/assets/styles/variables';

$tablet-width: 768px;

/* -------------------  ELEVATION ---------------------------  */

.mat-elevation-z0 {
    position: relative;
    z-index: 2;
}

.mat-elevation-z8 {
    position: relative;
    z-index: 2;
}

/* ------------------- TABLE -------------------  */

.mat-tab-labels{
    display: flex;
    justify-content: space-around;
    
}

/* -------------------  NAVIGATION ---------------------------  */

.navigation-toolbar {
    background-color: $baseBackground !important;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.navigation-fixed {
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

h1.navigation-company-name {
    margin-left: 8px;
}

.navigation-list {
    padding: 0;
    margin-left: 8px;
}

.navigation-spacer {
    flex: 1 1 auto;
}

.navigation-icon {
    padding: 0 22px;
}

.navigation-empty {
    height: 56px;
}

.mat-list-item {
    color: $menufont;
}

//sidebar
mat-sidenav {
    left: 0;
    width: 50%
}

.mat-drawer{
    background-color: $lightBackground;
}

.mat-drawer-container{
 background-color: white;
}

.navigation-is-mobile .navigation-toolbar {
    position: fixed;
    z-index: 2;
}

.mat-sidenav {
    width: 30%;
}

.navigation-sidenav-container {
    flex: 1;
}

.navigation-is-mobile .navigation-sidenav-container {
    flex: 1 0 auto;
}

.mat-nav-list[_ngcontent-c1] .mat-list-item[_ngcontent-c1] {
    display: flex;
    justify-content: center;
}

/* -------------------  LOGO ---------------------------  */

.logo {

    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    padding: 0 29px;
    position: relative;
    height: inherit;
    @media screen and (max-width: $tablet-width) {
        padding: 5px;
    }
}

/* -------------------  LPCONTENT ---------------------------  */

div.container {
    padding: 50px;
    display: flex;
    justify-content: center;
    @media screen and (max-width: $tablet-width) {
        padding: 5px;
        display: block;
    }
}
