<mat-toolbar class="navigation-toolbar" [class.navigation-is-mobile]="mobileQuery.matches"
  [class.mat-elevation-z0]="!isActive" [class.mat-elevation-z8]="isActive" [class.animated-header]="!isActivefadeInDown"
  [class.fadeInDown]="!isActivefadeInDown" [class.navigation-fixed]="!fixedTolbar">
  <button fxShow="true" fxShow.gt-xs="false" mat-icon-button (click)="snav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <a class="logo" fxShow="false" fxShow.gt-xs="true" href="#"><img src="assets/img/logo.png" title="SWB"></a>
  
  <span class="navigation-spacer"></span>
  
  <mat-nav-list class="navigation-list" fxLayout="row" fxShow="false" fxShow.gt-xs="true">
    <a mat-list-item [routerLink]="'/about'">About</a>
    <!--<a mat-list-item [routerLink]="'/portfolio'">Portfolio</<a>-->
    <a mat-list-item [routerLink]="'/pricing'">Pricing</a>
    <!--<a mat-list-item [routerLink]="'/blog'">Blog</a>-->
    <a mat-list-item [routerLink]="'/contact'">Contact</a>
  </mat-nav-list>
  

  <button id=contact-fab-button (click)="openLoginPage()" mat-button color="primary" matTooltip="Acessar área exclusiva"
    [matTooltipPosition]="'left'">
    <mat-icon>account_circle</mat-icon> Área Exclusiva
  </button>
</mat-toolbar>

<div class="navigation-empty" fxShow="false" fxShow.gt-xs="true"></div>

<mat-sidenav-container class="navigation-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
  <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
    (opened)="setToggleOn()" (closed)="setToggleOff()">
    <mat-nav-list>
      <a id="mobilelogo" class="logo" fxShow="true" fxShow.gt-xs="false" href="#"><img src="assets/img/logo.png"></a>
      <a mat-list-item [routerLink]="'/about'">About</a>
      <!--<a mat-list-item [routerLink]="'/portfolio'">Portfolio</a>-->
      <a mat-list-item [routerLink]="'/pricing'">Pricing</a>
      <!--<a mat-list-item [routerLink]="'/blog'">Blog</a>-->
      <a mat-list-item [routerLink]="'/contact'">Contact</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content nglp-scroll (onScroll)="detectScroll($event)">
    <div id="about" class="mat-typography" [ngStyle.lt-md]="{'margin-top': '30px', 'margin-bottom': '10px'}">
      <div class="container">
        <router-outlet></router-outlet>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>