$base_background:rgb(157, 157, 158);
//$base_background:#D3D3D3;
$base_font_color: black;
$base_font_color_navigation: black;
$base_font_color_navigation_hover: black;
$base_background_nav_hover: #A9A9A9;
//$base_background_nav_hover: #C0C0C0;
$base_background_toolbar_page: lightgray;
$side-bar-active-link-color: rgb(82, 82, 83) !important;