@import "variables";

/*my-app .main-panel .main-content .card{
    animation-duration: 750ms;
    opacity: 0;
    animation-name: fadeIn;
    animation-fill-mode: forwards;
}*/

.main-panel .main-content {
  min-height: calc(100vh - 155px);
  margin-top: 0px;
  padding: 0px;
}

.mat-header-cell {
  font-weight: bold;
  background-color: #f8f9fa;
}

tr.mat-row,
tr.mat-header-row {
  height: 28px !important;
}

.mat-cell {
  font-size: 11px;
}

@media only screen and (min-width: 768px) {
  .modal-lg {
    width: 400px !important;
  }

  .modal-md {
    width: 200px !important;
  }
}
@media only screen and (min-width: 992px) {
  .modal-lg {
    width: 600px !important;
  }
  .modal-md {
    width: 300px !important;
  }
}
@media only screen and (min-width: 1382px) {
  .modal-lg {
    width: 800px !important;
  }

  .modal-md {
    width: 400px !important;
  }
}

.toast-container > .ngx-toastr {
  //padding: 15px 15px 15px 25px;
  font-size: 12px;
}

/*.toast-container > .ngx-toastr > .toast-title {
  margin-left: 25px;
}

.toast-message > ul {
  margin: 0px;
}*/

.app-navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 998;
}

/**
* Navbar css
**/
.navbar-container {
  background-color: $base_background;
}

.nav-link {
  cursor: pointer;
  color: $base_font_color_navigation !important;
}

.user-image {
  width: 30px;
  border-radius: 50px;
  border: 1px solid gray;
}

.navbar-toggler {
  padding: 10px !important;
}

/* End navbar css*/

/**
* Sidebar Style
**/
.sidebar .sidebar-background {
  background-color: $base_background;
  color: #ffff;
}

.logo-sidebar {
  width: 45px;
}

.logo {
  text-align: center;
}

.sidebar .nav li a:hover {
  font-weight: bold;
  text-decoration: underline;
  color: $base_font_color_navigation_hover;
}

.sidebar .nav li:hover {
  background-color: $base_background_nav_hover;
  border-color: $base_background_nav_hover;
  border-radius: 5px;
}

.sidebar .nav li {
  margin: 0px 10px;
}
.sidebar .nav li a {
  margin: 5px;
  height: 30px;
  padding: 0px 10px;
  font-size: 10px;
  color: $base_font_color_navigation;
}

.sidebar .nav li:first-child > a {
  margin: 5px !important;
}

.sidebar .nav i {
  font-size: 18px;
  color: $base_font_color_navigation;
}

/* ende sidebar*/

/**
* Login page
**/
.loginBody {
  display: table-cell;
  /*background-color: $base_background;*/
  height: 100vh;
  width: 100vw;
  vertical-align: middle;
  text-align: center;
}

.loginPanel {
  background-color: white;
  border-radius: 10px;
  padding: 30px;
  width: 300px;
  display: inline-block;
}

.buttons {
  padding: 15px;
}

.logo-page-login {
  width: 200px;
}

.text-other {
  font-size: 14px;
}

.table-other {
  text-align: center;
}

.btn-google {
  background-color: aqua;
}

@media (max-width: 600px) {
  .text-maestro {
    font-size: 17px;
  }

  .text-account {
    font-size: 14px;
  }
  .loginPanel {
    width: 290px;
    padding: 20px;
  }

  .logo-page-login {
    width: 25%;
  }

  .table-other {
    width: 100%;

    text-align: center;
  }
}

// animation fadeindown
.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.tableLogin {
  width: 100%;
}
/** End login;**/

.card-header {
  background: $base_background !important;
  border-radius: 6px !important;
  padding: 10px 5px 5px 15px !important;  
}

.card-header .cart-title {
  color: $base_font_color;
}

.ui-table .ui-table-tbody > tr > td,
th {
  font-size: 11px !important;
  padding: 3px !important;
}

.main-content[_ngcontent-c2] {
  padding-right: 0px !important;
}

.toolbar-page {
  background-color: silver;
  height: 40px !important;
}

.header-button {
  padding: 0px 4px !important;
  min-width: inherit !important;
  line-height: inherit !important;
  margin-right: 10px !important;
}

.mat-icon-header-button {
  font-size: 18px !important;
  width: 20px !important;
  height: 20px !important;
}

.pageContainer {
  height: calc(100vh - 64px);
}

.page-toolbar {
  height: 40px !important;
  background-color: $base_background_toolbar_page;
}

.page-content {
  margin-top: 15px;
}

.drawer-filtros {
  width: 300px;
}
.drawer-filtros-title {
  background-color: $base_background_toolbar_page;
  font-size: 16px;
  font-style: italic;
  font-weight: bold;
  padding: 8px;
  text-align: center;
}

.drawer-filtros-content {
  padding: 15px;
}


.swal2-icon {
  transform: scale(0.6);
  margin: 0px !important;
}

.swal2-content {
  font-size: 14px !important;
}

.swal2-title {
  font-size: 16px !important;
}

div.swal2-actions > button {
  margin: 0.25rem !important;
  padding: 4px 12px;
}