<div class="wrapper">
  <div class="sidebar" data-color="gray">
    <app-sidebar></app-sidebar>
    <div class="sidebar-background"></div>
  </div>
  <div class="main-panel" (window:resize)="onResize($event)">
    <app-navbar [isMobile]="isMobileView"></app-navbar>
    <div class="main-content">
      <div class="pageContainer">
        <router-outlet></router-outlet>
      </div>      
    </div>
  </div>
</div>
