		<div class="blog-section blog-heading mat-typography" fxLayout="column" fxLayoutAlign="center center">
			<div>
				<h2 [ngStyle.lt-md]="{'margin-bottom': '15px'}">Blog</h2>
			</div>
			<div>
				<h3 [ngStyle.xs]="{'font-size': '18px'}" [ngStyle.sm]="{'font-size': '22px'}">Lorem ipsum dolor sit amet
					conse ctetur adipi sicing elit. Doloribus numquam quis.</h3>
			</div>
		</div>

		<div class="owl-carousel owl-theme">
			<div id="scroll-item" class="item" [about]>
				<mat-card>
					<img mat-card-image src="assets/img/6.jpg">
					<mat-card-content>
						<a href="#blog">
							<h5 class="mat-headline" [ngStyle.sm]="{'font-size': '16px'}">Article Title #1</h5>
						</a>
						<p class="mat-subheading-2" [ngStyle.sm]="{'font-size': '12px'}">
							Lorem ipsum dolor sit amet conse ctetur adipi sicing elit. Doloribus numquam quis.
						</p>

					</mat-card-content>
				</mat-card>
			</div>
			<div id="scroll-item" class="item" [about]>
				<mat-card>
					<img mat-card-image src="assets/img/1.jpg">
					<mat-card-content>
						<a href="#blog">
							<h5 class="mat-headline" [ngStyle.sm]="{'font-size': '16px'}">Article Title #2</h5>
						</a>
						<p class="mat-subheading-2" [ngStyle.sm]="{'font-size': '12px'}">
							Lorem ipsum dolor sit amet conse ctetur adipi sicing elit. Doloribus numquam quis.
						</p>

					</mat-card-content>
				</mat-card>
			</div>
			<div id="scroll-item" class="item" [about]>
				<mat-card>
					<img mat-card-image src="assets/img/2.jpg">
					<mat-card-content>
						<a href="#blog">
							<h5 class="mat-headline" [ngStyle.sm]="{'font-size': '16px'}">Article Title #3</h5>
						</a>
						<p class="mat-subheading-2" [ngStyle.sm]="{'font-size': '12px'}">
							Lorem ipsum dolor sit amet conse ctetur adipi sicing elit. Doloribus numquam quis.
						</p>

					</mat-card-content>
				</mat-card>
			</div>
			<div id="scroll-item" class="item" [about]>
				<mat-card>
					<img mat-card-image src="assets/img/3.jpg">
					<mat-card-content>
						<a href="#blog">
							<h5 class="mat-headline" [ngStyle.sm]="{'font-size': '16px'}">Article Title #4</h5>
						</a>
						<p class="mat-subheading-2" [ngStyle.sm]="{'font-size': '12px'}">
							Lorem ipsum dolor sit amet conse ctetur adipi sicing elit. Doloribus numquam quis.
						</p>

					</mat-card-content>
				</mat-card>
			</div>
			<div id="scroll-item" class="item" [about]>
				<mat-card>
					<img mat-card-image src="assets/img/4.jpg">
					<mat-card-content>
						<a href="#blog">
							<h5 class="mat-headline" [ngStyle.sm]="{'font-size': '16px'}">Article Title #5</h5>
						</a>
						<p class="mat-subheading-2" [ngStyle.sm]="{'font-size': '12px'}">
							Lorem ipsum dolor sit amet conse ctetur adipi sicing elit. Doloribus numquam quis.
						</p>

					</mat-card-content>
				</mat-card>
			</div>
			<div id="scroll-item" class="item" [about]>
				<mat-card>
					<img mat-card-image src="assets/img/5.jpg">
					<mat-card-content>
						<a href="#blog">
							<h5 class="mat-headline" [ngStyle.sm]="{'font-size': '16px'}">Article Title #6</h5>
						</a>
						<p class="mat-subheading-2" [ngStyle.sm]="{'font-size': '12px'}">
							Lorem ipsum dolor sit amet conse ctetur adipi sicing elit. Doloribus numquam quis.
						</p>

					</mat-card-content>
				</mat-card>
			</div>
			<div id="scroll-item" class="item" [about]>
				<mat-card>
					<img mat-card-image src="assets/img/6.jpg">
					<mat-card-content>
						<a href="#blog">
							<h5 class="mat-headline" [ngStyle.sm]="{'font-size': '16px'}">Article Title #7</h5>
						</a>
						<p class="mat-subheading-2" [ngStyle.sm]="{'font-size': '12px'}">
							Lorem ipsum dolor sit amet conse ctetur adipi sicing elit. Doloribus numquam quis.
						</p>

					</mat-card-content>
				</mat-card>
			</div>
			<div id="scroll-item" class="item" [about]>
				<mat-card>
					<img mat-card-image src="assets/img/1.jpg">
					<mat-card-content>
						<a href="#blog">
							<h5 class="mat-headline" [ngStyle.sm]="{'font-size': '16px'}">Article Title #8</h5>
						</a>
						<p class="mat-subheading-2" [ngStyle.sm]="{'font-size': '12px'}">
							Lorem ipsum dolor sit amet conse ctetur adipi sicing elit. Doloribus numquam quis.
						</p>

					</mat-card-content>
				</mat-card>
			</div>
			<div id="scroll-item" class="item" [about]>
				<mat-card>
					<img mat-card-image src="assets/img/2.jpg">
					<mat-card-content>
						<a href="#blog">
							<h5 class="mat-headline" [ngStyle.sm]="{'font-size': '16px'}">Article Title #9</h5>
						</a>
						<p class="mat-subheading-2" [ngStyle.sm]="{'font-size': '12px'}">
							Lorem ipsum dolor sit amet conse ctetur adipi sicing elit. Doloribus numquam quis.
						</p>

					</mat-card-content>
				</mat-card>
			</div>
			<div id="scroll-item" class="item" [about]>
				<mat-card>
					<img mat-card-image src="assets/img/3.jpg">
					<mat-card-content>
						<a href="#blog">
							<h5 class="mat-headline" [ngStyle.sm]="{'font-size': '16px'}">Article Title #10</h5>
						</a>
						<p class="mat-subheading-2" [ngStyle.sm]="{'font-size': '12px'}">
							Lorem ipsum dolor sit amet conse ctetur adipi sicing elit. Doloribus numquam quis.
						</p>

					</mat-card-content>
				</mat-card>
			</div>
			<div id="scroll-item" class="item" [about]>
				<mat-card>
					<img mat-card-image src="assets/img/4.jpg">
					<mat-card-content>
						<a href="#blog">
							<h5 class="mat-headline" [ngStyle.sm]="{'font-size': '16px'}">Article Title #11</h5>
						</a>
						<p class="mat-subheading-2" [ngStyle.sm]="{'font-size': '12px'}">
							Lorem ipsum dolor sit amet conse ctetur adipi sicing elit. Doloribus numquam quis.
						</p>

					</mat-card-content>
				</mat-card>
			</div>
			<div id="scroll-item" class="item" [about]>
				<mat-card>
					<img mat-card-image src="assets/img/5.jpg">
					<mat-card-content>
						<a href="#blog">
							<h5 class="mat-headline" [ngStyle.sm]="{'font-size': '16px'}">Article Title #12</h5>
						</a>
						<p class="mat-subheading-2" [ngStyle.sm]="{'font-size': '12px'}">
							Lorem ipsum dolor sit amet conse ctetur adipi sicing elit. Doloribus numquam quis.
						</p>

					</mat-card-content>
				</mat-card>
			</div>
			<div id="scroll-item" class="item" [about]>
				<mat-card>
					<img mat-card-image src="assets/img/6.jpg">
					<mat-card-content>
						<a href="#blog">
							<h5 class="mat-headline" [ngStyle.sm]="{'font-size': '16px'}">Article Title #13</h5>
						</a>
						<p class="mat-subheading-2" [ngStyle.sm]="{'font-size': '12px'}">
							Lorem ipsum dolor sit amet conse ctetur adipi sicing elit. Doloribus numquam quis.
						</p>

					</mat-card-content>
				</mat-card>
			</div>
		</div>
		<div fxLayout="row" fxLayoutAlign="center center">
			<button class="customPrevBtn" mat-raised-button color="primary">Prev</button>
			<button class="customNextBtn" mat-raised-button color="accent">Next</button>
		</div>